.map-container {
  margin-top: 5%;
  position: relative;
  height: 600px;
  width: 100%;
  margin: auto;
  bottom: 0;
  left: 0px;
  right: 0;
}

.sidebarStyle {
  /* display: inline-block; */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapboxgl-ctrl-top-right{
  margin-top: 5%;
  background-color: rgba(0,0,0,0);
}

.mapboxgl-ctrl.mapboxgl-ctrl-group{
  background-color: rgba(0,0,0,0)
}

.mapboxgl-popup{
  cursor: pointer;
}

.mapboxgl-popup-content{
  padding: 25px !important;
}

#box{
  width: 100%;
}

#title-map{
  color:#ffe54c;
  position:absolute;
  width: 25px;
  height: 10px;
  z-index: 9999;
  margin-left: 120px;
  margin-top: 120px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 2px;
}

#title-source{
  color:#ffe54c;
  position:absolute;
  width: 25px;
  height: 10px;
  z-index: 9999;
  margin-left: 120px;
  margin-top: 50px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 2px;
}

.txt-source {
  column-count: 3;
  column-gap: 50px;
  color: white;
  font-size: 0.8rem;
  z-index: 9999;
}

.box-txt-source{
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  z-index: 9999;
}
